@media screen and (max-width: 800px) {
    header {
        background-image: linear-gradient(to right, rgba(69, 51, 61, 0), rgba(65, 64, 91, 0), rgba(52, 44, 61, 0));
    }
    header .nav__main {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    header {
        padding: 20px;
        background-color: rgba(255, 255, 255, 0);
    }
    header #name {
        display: none;
    }

    header div {
        position: absolute;
        right: 5px;
        top: 5px;
    }
    
    main .intro {
        margin: 0;
    }

    main .intro #intro__photo {
        width: 200px;
        height: 200px;
    }

    main .intro h2 {
        margin: 10px 15px;
    }
}