main .about {
    background-color: var(--main-background);
    padding: 70px 0;
    color: var(--color-text-on-the-light-background);
    transition: all .3s;
}

.about .about__title {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    font-size: var(--size-title);
}

.about .about__contacts {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.about .about__contacts a {
    width: 25px;
    height: 25px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about__me {
    margin: 0 20px;
    font-size: 20px;
}