.projects {
    background-color: var(--main-background);
    padding: 70px 0;
    color: var(--color-text-on-the-light-background);
    transition: all .3s;
}

.projects .projects__wrapper {
    margin: auto;
    max-width: 1440px;
}

.projects .projects__title {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    font-size: var(--size-title);
}

.projects .projects__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.project .project__link {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform:translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.project .project__link a svg {
    fill: var(--project-link-background);
}

.projects .projects__list .project {
    min-width: 300px;
    max-width: 400px;
    margin: 20px;
    padding: 40px 40px 80px 40px;
    cursor: default;
    border-radius: 40px;
    background-color: var(--main-background);
    box-shadow: var(--projects-box-shadow);
    transition: all .3s;
    position: relative;
}

.projects .projects__list .project:hover {

}

.projects .projects__list .project p {
    margin: 20px 0;
}

.projects .projects__list .project .project__image {
    width: 100%;
    border-radius: 10px;
}

.projects .projects__list .project .project__stake {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects .projects__list .project .project__stake p {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--projects-box-shadow);
}

.projects .projects__list .project a {
    display: flex;
    justify-content: center;
}