.projects {
    background-color: var(--main-background);
    padding: 70px 0;
    color: var(--color-text-on-the-light-background);
    transition: all .3s;
}

.projects .projects__wrapper {
    margin: auto;
    max-width: 1440px;
}

.projects .projects__title {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    font-size: var(--size-title);
}

.projects .projects__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.project .project__link {
    width: 150px;
    height: 52px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

.project .project__link a svg {
    fill: var(--project-link-background);
}

.projects .projects__list .project {
    min-width: 300px;
    max-width: 400px;
    margin: 20px;
    padding: 40px 40px 80px 40px;
    cursor: default;
    border-radius: 40px;
    background-color: var(--main-background);
    box-shadow: var(--projects-box-shadow);
    transition: all .3s;
    position: relative;
}

.projects .projects__list .project:hover {

}

.projects .projects__list .project .project__image {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px black solid;
}

.projects .projects__list .project .project__stake {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects .projects__list .project .project__stake p {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--projects-box-shadow);
}

.project .project__title {
    margin-bottom: 20px;
}

.project .project__about {
    margin-bottom: 20px;
    height: 155px;
}

.project .project__image {
    margin-bottom: 20px;
}

.project__link_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.project__link_wrapper:hover .project__link_title {
    opacity: 1;
}

.project__link_title {
    position: absolute;
    top: -30px;
    left: -10px;
    color: var(--all-skills-color);
    background-color: var(--main-background);
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    box-shadow: var(--projects-link-title-box-shadow);
}
