.skills {
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    margin: 0 20px;
}

.skills .skills__wrapper {
    margin: auto;
    max-width: 1440px;
}

.skills .skills__title {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    color: var(--color-text-on-the-black-background);
    font-size: var(--size-title);
    transition: all .3s;
}

.skills .all-skills {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    flex-wrap: wrap;
}

.skills .all-skills .skills__block {
    margin: 5px;
    border-radius: 5px;
    list-style-type: none;
    cursor: default;
}

.skills .all-skills .skills__block p {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--all-skills-background);
    color: var(--all-skills-color);
    transition: opacity .3s ease-in-out;
    animation: glowing345 20s linear infinite;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.skills .all-skills .skills__block p:hover {
    animation: skills-button 0.5s ease-in infinite both;
}

@keyframes skills-button {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}