@import url(theme-light.css);
@import url(theme-dark.css);

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: var(--background);
    color: var(--color);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    color: var(--header-color);
    background-image: var(--header-background);
}

header nav {
    display: flex;
    align-items: center;
}

header h3 {
    text-shadow: var(--header-color-link-text-shadow);
}

header nav a {
    font-size: 26px;
    color: var(--header-color);
}

header nav a:hover {
    color: var(--header-color-hover);
}

header .change-theme {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    position: relative;
}

header .change-theme img {
    width: 30px;
    height: 30px;
}

header .change-theme p {
    position: absolute;
    left: 5px;
    color: var(--header-color);
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .about__wrapper {
    margin: auto;
    max-width: 1440px;
}

main .intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--intro-color);
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("mountains.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: sticky;
    z-index: 1;
}

.intro .intro__photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 30px 0;
    border: 10px solid white;
    box-shadow: var(--intro-photo-box-shadow);
}

.intro h1 {
    margin: 15px 0;
    text-shadow: #000000 3px -2px 5px;
}

.intro h2 {
    margin: 15px 0;
    text-shadow: #000000 3px -2px 5px;
}

footer {
    margin: 40px;
    display: flex;
    justify-content: center;
}

footer a {
    margin: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a img {
    width: 30px;
    height: 30px;
}

footer a img:hover {
    width: 40px;
    height: 40px;
}